{%extends 'layout.twig'%}
{%block content%}
<div class="row">
<h2 class="col-md-12">Submit a news about #GameGate</h2>
<div class="col-md-12">
    {%include "includes/form-errors.twig"%}
</div>
<form class="form col-md-12" role="form" action="" method="POST">
    <div class="form-group">
        <label for="">Url</label>
        <input {%if link %}value="{{link.url}}" {%endif%} class="form-control" name="url" required type="text" placeholder="a url of a page related to gamergate like http://example.com/gamergatenews" />
    </div> 
   <div class="form-group">
        <label for="">Title</label>
        <input {%if link %}value="{{link.title}}" {%endif%} class="form-control" name="title" type="text" placeholder="leave blank if you want the title to guessed according to the url" />
    </div> 
    <div class="input-group">
        <input class="btn btn-default" type="reset"  />
        &nbsp;
        <input class="btn btn-default" type="submit"/>
    </div>
</form>
</div>

{%endblock%}
